button {
    background-color: var(--primary);
    color: var(--white);
    font: var(--button);
    padding-block-start: 18px;
    padding-block-end: 16px;
    padding-inline-start: 24px;
    padding-inline-end: 23px;
    border-radius: 70px;
    border: 0;
    cursor: pointer;
}