.dessertContainer {
    display: flex;
    flex-direction: column;
    margin-block: 7.8rem;
}

.dessert-most {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dessert-DonaCake {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.dessert-pastel {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.dessert-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

span {
    color: var(--grey-2);
    margin-block-end: 24px;
}
